<div class="page">
<h1>My Quotes</h1>

<div class="container">
    <div class="row">
      <div class="col-md-4"><app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form></div>   
    

<hr>
<div class="col-md-4">
    <div class="" *ngFor="let quote of quotes;let i = 'index'">
       
            <h4 id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h4>
            <button class="btn btn-primary" (click)='Quote(i)'>Read Quote</button>
        

       
        <app-quote-details *ngIf="quote.showDescription"  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
    </div>
</div>
</div>
</div>
</div>



